@* (c) 2026 Joseph Shook. All rights reserved.
   Authors: Joseph Shook   JoeShook@Gmail.com
                            Joseph.Shook@Surescripts.com
   See LICENSE in the project root for license information. *@

@page "/jobs"

<PageTitle>Sigil - Jobs</PageTitle>

<FluentLabel Typo="Typography.PageTitle">Jobs</FluentLabel>

<FluentCard Style="margin-top: 1rem;">
    <p style="opacity: 0.6;">Scheduled jobs will be available here. Create jobs for certificate renewal reminders, automatic CRL regeneration, and certificate revocation actions.</p>
</FluentCard>
