@page "/templates"

<PageTitle>Sigil - Templates</PageTitle>

<FluentLabel Typo="Typography.PageTitle">Certificate Templates</FluentLabel>

<FluentCard Style="margin-top: 1rem;">
    <p style="opacity: 0.6;">Certificate templates will be available here. Templates define extension profiles, key parameters, and validity for different certificate types (Root CA, Intermediate CA, Client, Server).</p>
</FluentCard>
